@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --color-green-life: #38AF90;
    --color-whithe: #FFF;
    --color-grey: #797979;
    --color-red-guava: #DD7E92;
    --color-darck-light:  #383838;
}