@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --color-green-life: #38AF90;
    --color-whithe: #FFFFFF;
    --color-grey: #797979;
    --color-grey-light: #F0F0F0;
    --color-red-guava: #DD7E92;
    --color-dark-light:  #383838;
    --color-dark: #000000;
}

* {
   font-family: "Poppins", sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;       
}

header {
    background-color: var(--color-green-life);
    height: 90px;
    width: 100%;
    padding: 14px 10px;
    box-shadow: 0 0 0.4em var(--color-dark);   
}

a {
    text-decoration: none;   
}

h2 {
    color: var(--color-grey);
}

span {
    color: var(--color-green-life);
    font-size: 18px;
    font-weight: 700;
    padding: 0 4px 0 0;
}

.menu-container {
    color: var(--color-whithe);
    width: 100%;    
    max-width: 1200px;
    margin: 0 auto;  
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.menu-name {
    font-size: 18px;
    font-weight: 700;
}

.menu-list {
    display: none;
}

.picturi-profile {
    height: 62px;    
}

#news {
    background-color: var(--color-whithe);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2px;
}

.name-section {
    color: var(--color-grey);
    padding: 40px 0 8px 0;
    font-size: 24px;
    font-weight: 700;
}

.news-card {
    width: 290px;
    background-color: var(--color-grey-light);
    border-radius: 8px;
    margin: 0 10px;
    margin-bottom: 28px;
    box-shadow: 0 0 0.4em var(--color-dark);   
}

.news-title {
    color: var(--color-green-life);
    padding: 16px 13px 0;
    font-size: 16px;
    font-weight: 700;
}

.news-summary {
    color: var(--color-grey);
    font-size: 12px;
    font-weight: 700;
    padding: 0 13px;   
}

.news-date {
    color: var(--color-green-life);
    font-size: 10px;
    font-weight: 400;
    padding: 0 13px;
}

.news-text {
    color: var(--color-grey);
    font-size: 10px;
    font-weight: 400;
    padding: 13px 13px;
}

.more-news {
    color: var(--color-red-guava);
    font-size: 14px;
    font-weight: 700;
    padding: 0 13px;
}

.button-news {    
    background-color: var(--color-red-guava);
    color: var(--color-whithe);
    border: none;
    width: 244px;
    height: 67px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;    
}

#games {
    background-color: var(--color-grey-light);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.title-card-games {
    color: var(--color-green-life);
    font-size: 24px;
    font-weight: 700;
    margin: 40px 0 27px;
}

.card-games { 
    width: 290px;      
    display: flex;
    flex-direction: column;
    align-items: center;   
    box-shadow: 0 0 0.4em var(--color-dark);
    border-radius: 8px;
    margin-bottom: 27px;                  
}

.card-games img {    
    width: 290px;
    height: 169px;
    border-radius: 8px 8px 0 0;   
       
}

.card-game-description {
    width: 290px;       
    background-color: var(--color-whithe);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 8px 8px;    
}

.game-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-grey);
    padding: 28px 0 0;
}

.game-description {
    color: var(--color-grey);
    font-size: 14px;
    font-weight: 700;
}

.game-score {
    color: var(--color-green-life);
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 15px;
}

#sign-up {
    background-color: var(--color-whithe);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 8px;
    
}

.ctrl-consoles {
    width: 290px;
    height: 600px;
    background-color: var(--color-grey-light);
    border-radius: 8px;            
}

.ctrl-consoles-container {
        
}

.user-name-container {
    padding: 52px 12px 0;
}

.user-name {
    border: 1px solid var(--color-grey);               
    width: 268px;
    height: 50px;    
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;        
}

.user-email-container {
    padding: 20px 12px 20px;
}

.user-email {
    border: 1px solid var(--color-grey);               
    width: 268px;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;                   
}

.games-container {
    color: var(--color-grey); 
    font-size: 16px;   
    font-weight: 400;
    padding: 0 12px 0;    
}

.send-email-container {
    color: var(--color-grey);
    font-size: 16px;
    font-weight: 400;
    padding: 35px 12px 0;
}

.container-button-send {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 47px 0 20px;
    width: 244px;
    margin: auto;
}

.container-button-reset {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 244px;
    margin: auto;
}

.button-send {
    background-color: var(--color-red-guava);
    color: var(--color-whithe);
    border: none;
    width: 244px;
    height: 67px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;    
}

.button-reset {
    background-color: var(--color-whithe);
    color: var(--color-red-guava);
    border: none;
    width: 244px;
    height: 67px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;        
}

/*.menu-list {    
    list-style-type: none;
    display: flex;
    align-items: center;   
}*/