@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* VARIABLES */

:root {
    --color-green-life: #38AF90;
    --color-whithe: #FFFFFF;
    --color-grey: #797979;
    --color-grey-light: #F0F0F0;
    --color-red-guava: #DD7E92;
    --color-dark-light:  #383838;
    --color-dark: #000000;
}

/* ELEMENTS */

* {
   font-family: "Poppins", sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;       
}

header {
    background-color: var(--color-green-life);
    height: 90px;
    width: 100%;
    padding: 14px 10px;
    box-shadow: 0 0 0.4em var(--color-dark);    
}

a {
    text-decoration: none;       
}

span {
    color: var(--color-green-life);
    font-size: 18px;
    font-weight: 700;
    padding: 0 4px 0 0;
}

li {
    list-style-type: none;
}

/* GENERIC CLASSES */

.container {
    display: flex;    
    flex-direction: column;
    align-items: center;
}

.title-section {
    color: var(--color-grey);
    padding: 40px 0 8px 0;
    font-size: 1.125rem;
    font-weight: 700;
}

.button {    
    width: 244px;    
    height: 67px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;          
}

.button-margin {
    margin: 30px;
}

.text-box {
    border: 1px solid var(--color-grey);               
    width: 268px;
    height: 50px;    
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
}

/* CLASSES, IDS */

#menu {
    color: var(--color-whithe);
    width: 100%;    
    max-width: 1200px;
    margin: 0 auto;  
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.menu-name {
    font-size: 1.125rem;
    font-weight: 700;
}

.menu-list-container {
    display: flex;
    align-items: center;
}

.menu-list {
    display: none;
    font-size: 14px;           
}

.menu-list li {
    margin: 0 30px 0 0;    
}

.menu-list a {
    color: var(--color-whithe);
}

#news {
    background-color: var(--color-whithe);    
    margin-top: 2px;    
}

.news-card {
    width: 290px;
    height: 510px;
    max-width: 1200px;
    background-color: var(--color-grey-light);
    border-radius: 8px;
    margin: 0 10px;
    margin-bottom: 28px;
    box-shadow: 0 0 0.4em var(--color-dark);   
}

.news-title {
    color: var(--color-green-life);
    padding: 16px 13px 0;
    font-size: 16px;
    font-weight: 700;
}

.news-summary {
    color: var(--color-grey);
    font-size: 12px;
    font-weight: 700;
    padding: 0 13px;       
}

.line {    
    border: 1px solid var(--color-green-life);
    margin: 10px;
}

.news-date {
    color: var(--color-green-life);
    font-size: 10px;
    font-weight: 400;
    padding: 0 13px;
}

.news-text {
    color: var(--color-grey);
    font-size: 10px;
    font-weight: 400;
    padding: 13px 13px;
}

.more-news {
    color: var(--color-red-guava);
    font-size: 14px;
    font-weight: 700;
    padding: 0 13px;
}

.color-news {    
    background-color: var(--color-red-guava);
    color: var(--color-whithe);        
}

#games {
    background-color: var(--color-grey-light);    
    margin-top: 40px;
}

.title-card {
    color: var(--color-green-life);
    font-size: 1.7rem;
    font-weight: 700;
    margin: 40px 0 0;
}

.card-games-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-games { 
    width: 290px;    
    box-shadow: 0 0 0.4em var(--color-dark);
    border-radius: 8px;
    margin: 20px;

}

.card-games img {    
    width: 290px;
    height: 169px;
    border-radius: 8px 8px 0 0;   
       
}

.card-game-description {
    width: 290px;       
    background-color: var(--color-whithe);    
    border-radius: 0 0 8px 8px;    
}

.game-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-grey);
    padding: 28px 0 0;
}

.game-description {
    color: var(--color-grey);
    font-size: 14px;
    font-weight: 700;
}

.game-score {
    color: var(--color-green-life);
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 15px;
}

#sign-up {
    background-color: var(--color-whithe);    
    margin: 0 8px 40px;    
}

.ctrl-consoles {
    width: 290px;
    height: 600px;
    max-width: 790px;
    background-color: var(--color-grey-light);
    border-radius: 8px;            
}

.user-name-container {    
    padding: 52px 12px 0;
}

.user-email-container {    
    padding: 20px 12px 20px;
}

.games-container {
    color: var(--color-grey); 
    font-size: 16px;   
    font-weight: 400;
    padding: 0 12px 0;    
}

.send-email-container {
    color: var(--color-grey);
    font-size: 16px;
    font-weight: 400;
    padding: 35px 12px 0;
}

.button-container-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.color-send {
    background-color: var(--color-red-guava);
    color: var(--color-whithe)        
}

.color-reset {
    background-color: var(--color-whithe);
    color: var(--color-red-guava);            
}

#company {
    background-color: var(--color-dark-light);
    width: 303px;    
    margin: 0 auto;      
}

.social-container {
    margin: 28px 0 37px;

}

.social-company a {
    color: var(--color-whithe); 
    font-size: 14px; 
    font-weight: 400;  
}

.company-copyright {    
    margin: 0 0 37px;
    color: var(--color-whithe);
    font-size: 14px;
    font-weight: 400;
}

.company-legal-container {    
    margin: 0 0 37px;
}

.company-legal {
    color: var(--color-whithe);
    font-size: 14px;
    font-weight: 400;
}

@media (min-width: 325px) {    
    
    #company {
        width: 100%;
        height: 100%;
    }

}

@media (min-width: 390px) {
    
    .news-card {
        width: 80%;
        height: 100%;
    }
    
    .line {
        width: 96%;
    }

    .news-text {
        font-size: 12px;
    }

    .ctrl-consoles {
        width: 80%;
        height: 100%;        
    }
    
    #company {
        width: 100%;
        height: 100%;
    }

}

@media (min-width: 576px) {

    html {
        font-size: 16px;
    }

    .menu-list {
        display: flex;                   
    }   
    
    .news-text {
        font-size: 14px;
    }

    .text-box {
        width: 80%;
    }
    
    header {        
        position: fixed;
    }

    #news {        
        padding-top: 90px;
    }

}

@media (min-width: 768px) {

    html {
        font-size: 20px;
    }

    .news-title {
        font-size: 19px;
    }

    .news-summary {
        font-size: 14px;
    }

    #company {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 37px;       
    }
    
    .social-container {
        margin: 28px 0 37px;
    }
    
    .company-copyright {
        margin: 28px 0 37px;
    
    }
    
    .company-legal-container {
        margin: 28px 0 37px;
    }

}

@media (min-width: 992px) {

    html {
        font-size: 25px;
    }

    .news-title {
        font-size: 24px;
    }

    .news-summary {
        font-size: 16px;
    }

    .company-copyright {
        flex-direction: row;
    }

    .small-margin {
        margin: 0 0 0 3px;
    }

}